*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 1500px;
    height: 890px;
    border: 1px solid black;
    margin: auto;
}

.container1{
    border: 1px solid black;
    width: 350px;
    height: 60px;
    background-color: red;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: rec1 5s ease-in 0s infinite alternate;
    position: relative;
}
@keyframes rec1{
        from{
            
            left: 0px;
        }
        to{
            
            left:1150px;
        }
}

.circle{
       height: 50px;
       width: 50px;
       border-radius: 30px;
       background-color: black;
       margin-top: 40px;
       animation: circle1 10s ease-in-out 0s infinite alternate;
    position: relative;
}

@keyframes circle1{
    0%{
        top:20px;
        left:40px;
    }
    20%{
        top:20px;
        left:1100px;
    }
    40%{
        top:76.5%;
        left:40px;
    }
    60%{
        top:69.5%;
        left:1100px;
    }
    80%{
        top:76.5%;
        left:300px;
    }
}

.container2{
    border: 1px solid black;
    width: 350px;
    height: 60px;
    background-color: red;
    margin-top:75vh ;
    animation: rec2 5s ease-in 0s infinite alternate-reverse;
    position: relative;
    
}
@keyframes rec2{
    from{
        
        left: 0px;
    }
    to{
        
        left:1150px;
    }
}