*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgba(172, 168, 168, 0.329);
}

.container{
    width: 450px;
    height: 550px;
    background-color: white;
    margin: auto;
    margin-top: 120px;
    border-radius: 25px;
    
}
.section1{
    background-color: rgb(8, 132, 255);
    border: 1px solid blue;
    width: 450px;
    height: 160px;
    border-radius: 25px 25px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 100px;
    overflow:visible;
}

.section2{
    /* border: 1px solid black; */
}

.profile{
    height: 160px;
    width: 160px;
    border-radius: 80px;
    margin-top: -120px;
    margin-left: 145px;
    border:3px solid rgb(8, 132, 255);
    background-color:  rgb(255, 255, 255);
    padding: 3px;
    /* box-shadow: 2px 2px 2px white; */
}

h1{
    margin-top:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h3{
    margin-top:15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font:15px;
}

.image{

   
    display: flex;
    width: 120px;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
    gap:30px;
    
}

.i{
    width: 35px;
    height: 35px;
    /* padding: 10px; */
}  

.button{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    gap: 10px;

}

.button-icon{
       background-color:  rgb(8, 132, 255);
       color: white;
       font-size: 22px;
       /* padding: 10px 20px 10px 20px; */
       padding: 10px 35px;
       border-radius: 30px;
       border: 1px solid  rgb(8, 132, 255);
       
}

.footer{
    
    display: flex;
    justify-content:space-evenly;
    width:300px;
    margin: auto;
    margin-top:10px;
}

.love{
    width: 20px;
    height: 20px;
    
}
.footer-icon{
    
    display: flex;
    
    /* padding:10px; */
}

.footer-icon-1{
    display: flex;
    gap:5px;
}
.footer-icon-2{
    display: flex;
    gap:5px;
}


.footer-icon-3{
    display: flex;
    gap:5px;
}