*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color: beige;
}
.con{
    border: 1px solid beige;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 20%;
}
.container{
    border: 1px solid red;
    background-color: red;
    width: 250px;
    height: 100px; 
    transition: all 3s linear 0s;
    
}
.container:hover{
   
    transform: rotate(45deg);

}